{% extends 'base.html.twig' %}


{% block content %}


    <h1>Ajouter des amis </h1>
    <br><br>
    <br>
    <h3>Choisir votre ami : &nbsp;&nbsp;&nbsp;&nbsp;</h3>
    <br><br>
    <form action="/Action/{{ app.user.id }}/Ajout/doAjout" method="GET">


        <select id="friends" name="friends">
   {%  for user in users %}
            {%  if user not in app.user.friends %}
            {% if user.id != app.user.id %}
            <option value="{{ user.id }}">{{ user.username }}<option>
                {% endif %}{% endif %}
        {% endfor %}
    </select>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button class="btn btn-success"  type="submit">Ajouter un ami &nbsp; <span class="glyphicon glyphicon-plus"></span></button>
    </form>

<br><br>

    <ul>
        <li>
            <a href="{{ path('Action_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
